# ignore eclipse project files
.project
.classpath
# ignore Intellij Idea project files
.idea
*.iml
/target/

/bin/
build
.settings/
/.gradle/
/gradle/
/gradlew
/gradlew.bat
.gitmodules

#ignore added .hprof files added when using JAVA 8 milestone3
java_pid26332.hprof
java_pid26856.hprof